:root {
  --font-antonio: "Antonio", sans-serif;
  --font-spartan: "Spartan", sans-serif;
  --col-dark-blue: #070724;
  --col-secondary-text: #838391;
  --col-border: #38384f;
  --col-primary-text: #fff;
}

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--col-dark-blue);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

body {
  font-family: var(--font-spartan);
  background-color: var(--col-dark-blue);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-antonio);
  color: var(--col-primary-text);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 3px;
}

p {
  color: #fff;
  font-weight: 100;
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.side-menu__list__item__link {
  font-weight: 100;
  font-size: 0.7em;
  color: var(--col-secondary-text);
  text-transform: uppercase;
}

.side-menu__list__item__link:hover {
  color: #fff;
}

.sections__list__item__link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 1px;
  color: var(--col-secondary-text);
}

.sections__list__item__link:hover {
  color: var(--col-primary-text);
}

.planet-info__heading {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

.planet-info__description {
  line-height: 2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.planet-info__source {
  font-size: 0.8em;
}

.planet-info__source p {
  color: var(--col-secondary-text);
}

.planet-info__wiki-link {
  font-size: 0.7em;
  font-weight: 100;
  padding: 2px 0;
  border-bottom: 1px solid var(--col-secondary-text);
}

.planet-data__name {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.6em;
}

.planet-data__value {
  font-weight: 400;
}

.nav-bar {
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 20px;
  width: 100%;
  border-bottom: 1px solid var(--col-border);
}

.nav-bar .title {
  margin-top: -5px;
}

.nav-bar__hamburger {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-bar__hamburger__icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.side-menu {
  background-color: #080808;
  width: 50%;
  position: absolute;
  right: 0%;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.3s;
}

.side-menu__list {
  padding: 40px 50px;
}

.side-menu__list__item:not(.side-menu__list__item:last-child) {
  padding: 0px 0px 30px 0px;
}

.side-menu__list__item__link {
  display: block;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0%;
  background-color: transparent;
  display: none;
  z-index: 5;
}

.sections {
  grid-row: 1/2;
}

.sections__list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px var(--col-border) solid;
}

.sections__list__item__link {
  display: block;
  padding: 18px 0;
}

.sections__list__item__link:hover {
  border-bottom: 2px solid #6d89c8;
  padding-bottom: 16px;
}

.planet-picture {
  grid-row: 2/3;
  margin: 60px auto;
  background-image: url(./../img/planet-earth.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 30vh;
}

.planet-info {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.planet-info__heading {
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

.planet-info__source {
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet-info__wiki-link {
  margin: 0 2px 0 8px;
}

.planet-info__icon {
  width: 7px;
  height: 7px;
}

.planet-data {
  grid-row: 4/5;
  margin: 0 auto;
  display: grid;
  grid-column: 1fr;
  grid-row-gap: 10px;
}

.planet-data__box {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--col-border);
  padding: 10px 20px;
}

body {
  background-image: url(./../img/background-stars.svg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
}

.main {
  position: relative;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
  overflow-x: hidden;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */