:root {
  // Fonts
  --font-antonio: "Antonio", sans-serif;
  --font-spartan: "Spartan", sans-serif;

  // Colours
  --col-dark-blue: #070724;
  --col-secondary-text: #838391;
  --col-border: #38384f;
  --col-primary-text: #fff;
}
