@import "./abstracts/variables";

@import "./base/base";
@import "./base/typography";

@import "./components/navbar";
@import "./components/sideMenu";
@import "./components/overlay";
@import "./components/sections";
@import "./components/planetPicture";
@import "./components/planetInfo";

@import "./pages/main";
