.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 20px;
  border-bottom: 1px solid var(--col-border);
  .title {
    margin-top: -5px;
  }

  &__hamburger {
    display: block;
    padding: 0;
    margin: 0;
    &__icon {
      width: 20px;
      height: 20px;
      vertical-align: bottom;
    }
  }
}
