.planet-data {
  grid-row: 4/5;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;

  align-items: center;

  &__box {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--col-border);
    padding: 10px 20px;
  }
}

////////////////////////////////////////
// MEDIA QUERIES

//for tablet
@media (min-width: 700px) {
  .planet-data {
    grid-row: 3/4;
    grid-column: 1/3;

    width: 91%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;

    &__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__name {
      font-size: 0.6em;
      margin: 10px 0;
    }

    &__value {
      margin-bottom: 10px;
    }
  }
}

// for desktop
@media (min-width: 1100px) {
  .planet-data {
    margin-top: 80px;
    width: 73%;
  }
}
