.planet-info {
  grid-row: 3/4;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  &__heading {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
  }

  &__source {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wiki-link {
    margin: 0 2px 0 8px;
  }

  &__icon {
    width: 7px;
    height: 7px;
  }
}

////////////////////////////////////////
// MEDIA QUERIES

@media (min-width: 700px) {
  .planet-info {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 10%;

    &__heading {
      text-align: left;
    }

    &__description {
      text-align: left;
      margin: 0%;
    }

    &__source {
      justify-content: flex-start;
    }
  }
}
