.planet-picture {
  grid-row: 2/3;
  margin: 60px auto;

  background-image: url("https://nithinmanoj10.github.io/Planets-Fact-Site/img/planet-earth.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 30vh;
}

////////////////////////////////////////
// MEDIA QUERIES

// for tablet
@media (min-width: 700px) {
  .planet-picture {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

// for desktop
@media (min-width: 1100px) {
  .planet-picture {
    grid-row: 1/3;
    grid-column: 1/2;

    margin: auto auto;
    height: 55vh;
    width: 55vh;
  }
}
