.planet-picture {
  grid-row: 2/3;
  margin: 60px auto;

  background-image: url(./../img/planet-earth.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 30vh;
}

////////////////////////////////////////
// MEDIA QUERIES

@media (min-width: 700px) {
  .planet-picture {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
