.sections {
  grid-row: 1/2;
  &__list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px var(--col-border) solid;
    &__item {
      &__link {
        display: block;
        padding: 18px 0;

        .numbering {
          display: none;
        }

        &:hover {
          border-bottom: 2px solid #6d89c8;
          padding-bottom: 16px;
        }
      }
    }
  }
}

////////////////////////////////////////
// MEDIA QUERIES

@media (min-width: 700px) {
  .sections {
    grid-row: 2/3;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px 0;

    &__list {
      display: flex;
      flex-direction: column;
      padding-right: 10%;
      border-bottom: none;
      &__item {
        border: 1px solid var(--col-border);
        &__link {
          display: block;
          font-weight: 700;
          color: #fff;

          .numbering {
            display: inline-block;
          }
        }
      }
    }
  }
}
