.sections {
  grid-row: 1/2;
  &__list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px var(--col-border) solid;
    &__item {
      &__link {
        display: block;
        padding: 18px 0;

        &:hover {
          border-bottom: 2px solid #6d89c8;
          padding-bottom: 16px;
        }
      }
    }
  }
}
