.side-menu {
  background-color: #080808;
  width: 30%;

  position: absolute;
  right: 0%;
  z-index: 10;

  transform: translateX(100%);
  transition: all 0.3s;

  &__list {
    margin: 20px 0 20px 20px;
    &__item {
      &:not(&:last-child) {
        margin-bottom: 20px;
      }

      &__link {
        display: block;
      }
    }
  }
}
