.side-menu {
  position: relative;

  background-color: #0808086b;
  width: 100%;
  height: 0;

  border-bottom: 1px solid var(--col-border);

  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;

  &__list {
    flex: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 15px 10px;
    opacity: 0;
    transition: all 0.2s;

    justify-content: space-between;

    &__item {
      width: 25%;
      padding: 3.5px 0px;
      text-align: center;
      &__link {
        display: inline-block;
      }
    }
  }
}

/////////////////////////////////////
// MEDIA QUERIES

@media (min-width: 700px) {
  .side-menu {
    display: none;
  }
}
