*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--col-dark-blue);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
