body {
  font-family: var(--font-spartan);
  background-color: var(--col-dark-blue);
}

h1,
h2,
h3 {
  font-family: var(--font-antonio);
  color: var(--col-primary-text);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 3px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

//////////////////////////////////////////////
// SIDE-MENU
.side-menu {
  &__list {
    &__item {
      &__link {
        font-weight: 100;
        font-size: 0.7em;
        color: var(--col-secondary-text);
        text-transform: uppercase;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
