body {
  font-family: var(--font-spartan);
  background-color: var(--col-dark-blue);
}

h1,
h2,
h3 {
  font-family: var(--font-antonio);
  color: var(--col-primary-text);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 3px;
}
