body {
  font-family: var(--font-spartan);
  background-color: var(--col-dark-blue);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-antonio);
  color: var(--col-primary-text);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 3px;
}

p {
  color: #fff;
  font-weight: 100;
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

//////////////////////////////////////////////
// SIDE-MENU
.side-menu {
  &__list {
    &__item {
      &__link {
        font-weight: 100;
        font-size: 0.6em;
        color: var(--col-secondary-text);
        text-transform: uppercase;

        &--active {
          color: #fff;
          font-weight: 700;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

//////////////////////////////////////////////
// SECTIONS-BAR

.sections {
  &__list {
    &__item {
      &__link {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 9px;
        letter-spacing: 1px;
        color: var(--col-secondary-text);

        &:hover {
          color: var(--col-primary-text);
        }
      }
    }
  }
}

///////////////////////////////////////////////
// PLANET INFO

.planet-info {
  &__heading {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
  }

  &__description {
    line-height: 2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  &__source {
    font-size: 0.8em;
    p {
      color: var(--col-secondary-text);
    }
  }

  &__wiki-link {
    font-size: 0.7em;
    font-weight: 100;
    padding: 2px 0;
    border-bottom: 1px solid var(--col-secondary-text);
  }
}

///////////////////////////////////////////////////////
// PLANET DATA

.planet-data {
  &__name {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.6em;
    font-weight: 100;
  }

  &__value {
    font-weight: 400;
  }
}
