body {
  background-image: url(./../img/background-stars.svg);
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
}

.main {
  position: relative;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;

  overflow-x: hidden;
  width: 100%;
}
