body {
  background-image: url(./../img/background-stars.svg);
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
}

.main {
  position: relative;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;

  overflow-x: hidden;
  width: 100%;
}

////////////////////////////////////////
// MEDIA QUERIES

@media (min-width: 700px) {
  .main {
    grid-template-columns: 1.2fr 1fr;
  }
}
